<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
    <!-- Add the following Bootstrap 5 CSS and JS files -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <link href="/assets/css/style.css" rel="stylesheet">
</head>

<body>
    <header id="header" class="fixed-top">
    </header>

    <div class="container text-white">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div id="first" style="display: flex; justify-content: center; align-items: center; margin-top: 20px;">
                    <div class="myform form ">
                        <div class="logo mb-3">
                            <div class="col-md-12 text-center">
                                <a href="index.html">
                                    <h1>EduCon</h1>
                                </a>
                            </div>
                        </div>
                        <form action="" method="post" name="login">
                            <div class="card-body text-center">
                                <label class="h2 font-weight-bold">Make a new account</label><br>
                                <label class="font-size-16">Please fill up all information</label>
                            </div>
                            {{#if error}}
                            <div class="alert alert-danger">
                                {{error}} <!-- Show the error message -->
                            </div>
                            {{/if}}
                            <div class="form-group row">
                                <div class="col-md-9 mx-auto">
                                    <input type="email" name="email" class="rounded form-control " id="email"
                                        aria-describedby="emailHelp" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-9 mx-auto">
                                    <input type="text" name="username" class="rounded form-control " id="email"
                                        aria-describedby="emailHelp" placeholder="Username">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-9 mx-auto">
                                    <input type="text" name="name" class="rounded form-control " id="email"
                                        aria-describedby="emailHelp" placeholder="Name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-9 mx-auto">
                                    <input type="password" name="password" id="password" class="form-control "
                                        aria-describedby="emailHelp" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-9 mx-auto">
                                    <input type="password" name="password-repeat" id="repassword" class="form-control "
                                        aria-describedby="emailHelp" placeholder="Retype Password">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-9 mx-auto">
                                    <select name="role" id="" class="form-control" style="color: #d2cccc;">

                                        {{#each roleList}}
                                        <option value="{{this.name}}">{{this.name}}</option>
                                        {{/each}}

                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-9 mx-auto">
                                    <select name="faculty" id="faculty" class="form-control" style="color: #d2cccc;">

                                        {{#each facultyList}}
                                        <option value="{{this.name}}">{{this.name}}</option>
                                        {{/each}}

                                    </select>
                                </div>
                            </div>


                            <div class="col-md-10 text-center mx-auto mt-3">
                                <button type="submit" id="login-btn"
                                    class="btn btn-block mybtn btn-dark tx-tfm">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="/assets/vendor/aos/aos.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/assets/vendor/php-email-form/validate.js"></script>

    <script src="/assets/js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(function () {
            $("#header").load("/sharedhtmls/header.hbs", function () {
                $('.mobile-nav-toggle').click(function () {
                    $('#navbar').toggleClass('navbar-mobile');

                });

                $('.dropdown > a').click(function (e) {
                    e.preventDefault();
                    $(this).next('ul').slideToggle();
                });
            });
        });
    </script>
</body>

<style>
    body {
        padding-top: 10rem;
        background-color: hsl(250, 25%, 19%)
    }

    a {
        text-decoration: none !important;
    }

    h1,
    h2,
    h3 {
        font-family: 'Kaushan Script', cursive;
    }

    .form-control {
        background-color: hsl(235, 22%, 30%);
        color: #fff;
        border: 0;

    }

    .form-control:focus {
        color: black;
    }

    .form-control::placeholder {
        color: #d2cccc;
    }

    #faculty {
        color: black;
    }

    .myform {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        padding: 1rem;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-color: hsl(250, 24%, 24%);
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 1.1rem;
        outline: 0;
        max-width: 500px;
    }

    .tx-tfm {
        text-transform: uppercase;
    }

    .mybtn {
        border-radius: 50px;
    }

    .login-or {
        position: relative;
        color: #aaa;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .span-or {
        display: block;
        position: absolute;
        left: 50%;
        top: -2px;
        margin-left: -25px;
        background-color: #fff;
        width: 50px;
        text-align: center;
    }

    .hr-or {
        height: 1px;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    .google {
        color: #666;
        width: 100%;
        height: 40px;
        text-align: center;
        outline: none;
        border: 1px solid lightgrey;
    }

    form .error {
        color: #ff0000;
    }

    #second {
        display: none;
    }

    #login-btn {
        background-color: hwb(260 24% 9% / 0.857);
    }
</style>

</html>