<form action="" method="post">
   <h1>Edit contribution</h1>
   Name: <input type="text" name="name" required value="{{ contribution.name }}">
   <br><br>
   Description: <input type="text" name="description" required value="{{ contribution.description }}">
   <br><br>
   Image: <input type="file" name="image" required value="{{ contribution.image }}">
   <br><br>
   <img src="{{ contribution.image }}" alt="" width="120" height="120">
   <br><br>
   Docs: <input type="file" name="docs" required value="">
   <br><br>
   <h6>{{ contribution.docs }}</h6>
   <br><br>
   <input class="btn" type="submit" value="Save">
</form>