<h1>Contribution List</h1>
<div class="row">
   <a class="btn" href="/contribution/add">Add product</a>
   <a class="btn green" href="/contribution/sort/asc">Name ascending</a>
   <a class="btn lime" href="/contribution/sort/desc">Name descending</a>
</div>
<div class="row">
   <form class="col m5" action="/contribution/search" method="post">
      <input class="form-control" type="search" name="keyword"
      placeholder="Search by contribution name" required>
   </form>
</div>
<table class="table table-primary">
   <tr>
      <th>Contribution name</th>
      <th>Contribution description</th>
      <th>Contribution image</th>
      <th>Contribution docs</th>
      <th>Contribution category</th>
      <th>Menu</th>
   </tr>
   {{#each contributionList }}
   <tr>
      <td>{{ name }}</td>
      <td>{{ description }}</td>
      <td>
         <img src="/images/{{ image }}" width="100" height="100">
      </td>
      <td>{{ docs }}</td>
      <td>{{ category.name }}</td>
      <td>
         <a class="btn orange" href="/product/edit/{{ _id }}">Edit</a>
         <a class="btn brown" href="/product/delete/{{_id}}"
            onclick="return confirm('Do you want to delete this article ?')" ;>Delete</a>
      </td>
   </tr>
   {{/each}}
</table>